{:paths ["src/clj" "src/cljc" "resources"]

 :deps
 {mount/mount {:mvn/version "0.1.17"}}

 :aliases
 {:dev {:extra-paths ["dev/clj"]
        :deps {org.clojure/tools.namespace {:mvn/version "1.4.0"}}}
  :test {:extra-paths ["test/clj"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.3"}}
          :ns-default build}}}
