;; shadow-cljs configuration
{:source-paths
 ["dev/cljs"
  "src/cljs"
  "src/cljc"
  "test/cljs"
  "test/cljc"
  "resources"]

 :dependencies
 [[reagent "1.2.0"]]

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :modules {:main {:entries [webstack.core]}}}}}
