{:lint-as {mount.core/defstate clojure.core/def
           day8.re-frame.tracing/fn-traced clojure.core/def
           day8.re-frame.tracing/defn-traced clojure.core/defn}
 :linters {:refer-all {:exclude [clojure.test]}}}
